.container {
  display: flex;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;

  p {
    font-size: large;
  }
}

.form-section {
  margin-right: 5%;
}

.divider {
  height: 360px;
  border-left: 2px solid black;
}
