.container {
  display: flex;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
}

.container p {
  font-size: large;
}

.show {
  margin-left: 5%;
}

.show h3 {
  margin-top: 20px;
}
